pcuname,status,username,password,model
#for pcu in $query
$pcu.pcu.plc_pcu_stats['ip'],$pcu.status,$pcu.pcu.plc_pcu_stats['username'],$pcu.pcu.plc_pcu_stats['password'],$pcu.pcu.plc_pcu_stats['model']
#end for
