/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
  color: black;
  background-color: #ddd;
  font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  margin: 0;
  padding: 0;
}

td, th {padding:1px;border:none;}
tr th {text-align:left;background-color:#f0f0f0;color:#333;}
tr.odd td {background-color:#edf3fe;}
tr.even td {background-color:#fff;}

#header {
  height: 40px;
  /*width: 780px;*/
  /*background: blue URL('../images/header_inner.png') no-repeat;*/
  /*border-left: 1px solid #aaa;*/
  /*border-right: 1px solid #aaa;*/
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 180%;
}

 pre.results {
  margin: 0 auto 0 auto;
} 

a.link, a, a.active {
  color: #369;
  display: inline;
  page-break-after: avoid;
  page-break-before: avoid;
}


/*@media screen {*/
 a.ext-link .icon {
  background: URL(../images/extlink.gif) left center no-repeat;
  padding-left: 16px;
 }

a.info{
    position:relative; /*this is the key*/
    z-index:24;
    color:#000;
    }

a.info:hover{z-index:25;}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:1em; left:-7em; width: 100%;
    border:1px solid #AAA;
	color:#DDD;
    background-color:black; 
    text-align: center}

div#legend a:hover span {display: block;
   float: left; width: 30em;
   padding: 5px; margin: 5px; z-index: 100;
   color: #333; background: white;
   font: 10px Verdana, sans-serif; text-align: left;}

div#links a:hover span {display: block;
   /*position: absolute; top: 200px; left: 0; width: 125px;*/
   /*position: relative; top: 0px; left: 40; width: 30em;*/
   float: left; width: 30em;
   padding: 5px; margin: 5px; z-index: 100;
   color: #AAA; background: black;
   font: 10px Verdana, sans-serif; text-align: center;}


div.oneline { clear : both; }
a.left { float: left; }
a.right { float: right; }

 /** html a.ext-link .icon { display: inline-block; }*/
/*}*/

#portopen     { background-color: lightgreen; }
#portclosed   { background-color: indianred; }
#portfiltered { background-color: gold; }

#dns-DNS-OK { background-color: lightgreen; }
/*#dns-NOHOSTNAME { background-color: white; }*/
#dns-DNS-MISMATCH { background-color: gold; }
#dns-DNS-NOENTRY { background-color: indianred; }
#dns-NO-DNS-OR-IP { background-color: indianred; }

#status-NetDown { background-color: lightgrey; }
#status-Not_Run  { background-color: lightgrey; }
#status-Ok     { background-color: darkseagreen; }
#status-0     { background-color: darkseagreen; }
#status-error  { background-color: indianred; }
#status-none   { background-color: white; }

#site-new { background-color: gold; }
#site-good { background-color : darkseagreen; }
#site-online { background-color : lightgreen; }
#site-offline { background-color: red; }
#site-down { background-color: indianred; }

#node-online { background-color : lightgreen; }
#node-good { background-color : darkseagreen; }
#node-offline { background-color: red; }
#node-down { background-color: indianred; }

#pcu-online { background-color : lightgreen; }
#pcu-good { background-color : darkseagreen; }
#pcu-offline { background-color: red; }
#pcu-down { background-color: indianred; }

/*#site-0 { background-color : white; }*/
#site-1 { background-color: gold; }
#site-2 { background-color: indianred; }

#node-BOOT { background-color: darkseagreen; }
#node-DOWN { background-color: indianred; }
#node-DEBUG { background-color: gold; }

#severity-0     {   background-color: #AADDAA;  }
#severity-1     {   background-color: #CCE2CC;  }
#severity-2     {   background-color: #EFEFCC;  }
#severity-3     {   background-color: #DDAAAA;  }
#severity-4     {   background-color: #FF8888;  }
#severity-5     {   background-color: #FF0000;  }

/*#nps-table { background-color: lightgrey; }*/
/*#sub-table { background-color: lightgrey; }*/
/* td, th {padding:2px;border:none;} */
/* tr th {text-align:left;background-color:#f0f0f0;color:#333;} */

#main_content {
  color: black;
  font-size: 127%;
  background-color: white;
  width: 757px;
  margin: 0 auto 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
}

#sidebar {
  border: 1px solid #aaa;
  background-color: #eee;
  margin: 0.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

h1,h2,h3,h4,h5,h6,#getting_started_steps {
  font-family: "Century Schoolbook L", Georgia, serif;
  font-weight: bold;
}

h2 {
  font-size: 150%;
}

#getting_started_steps a {
  text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
  font-size: 80%;
  margin-bottom: 0.5em;
}

#getting_started_steps h2 {
  font-size: 120%;
}

#getting_started_steps p {
  font: 100% "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

#footer {
  /*border: 1px solid #aaa;*/
  border-top: 0px none;
  color: #999;
  background-color: white;
  padding: 10px;
  font-size: 80%;
  text-align: center;
  width: 765px;
  margin: 0 auto 1em auto;
}

.code {
  font-family: monospace;
  width: 100%;
  background: #eee;
}

span.code {
  font-size: 120%;
  /*font-weight: bold;*/
}

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #cec URL('../images/ok.png') left center no-repeat;
  border: 1px solid #9c9;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/info.png') left center no-repeat;
  border: 1px solid #cce;
}
.error {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #e30 URL('../images/widgets.png') left center no-repeat;
  border: 1px solid #c00;
}

.fielderror {
    color: red;
    font-weight: bold;
}
